[Desktop Entry]
Name=Moises
Comment=Music Studio
Exec=brave --enable-features=UseOzonePlatform --ozone-platform=wayland --app="https://studio.moises.ai/library"
Icon=Moises
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Media;Application;
StartupWMClass=moises
Name[en_GB]=Moises
