[Desktop Entry]
Name=ChatGPT
Comment=ChatGPT
Exec=brave --enable-features=UseOzonePlatform --ozone-platform=wayland --app="https://chatgpt.com/" %U
Icon=chatgpt
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;WebBrowser;Utility;
StartupWMClass=brave-browser-chatgpt.com
Name[en_GB]=ChatGPT
